.gift-notes-container {
    background-color: rgba(255, 255, 255, 1); 
    min-height: 84vh;
    overflow: hidden;
    padding: 5em 6vw;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

@media (min-width: 1100px) {
    .gift-notes-container {
        max-width: 1600px;
    }
}

@media (min-width: 1600px) {
    .gift-notes-container {
        /* background-color: rgba(255, 255, 255, 0.95); */
        /* width: 85vw; */
        /* max-width: 1600px;
        margin: 0 auto; */
    }
}

