/* .main-container {
    display: flex;
    flex-direction: row;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: space-evenly;
    padding: 2em 4vw;
    
}

.add-card-container {
    width: 500px;
    position: sticky;
    background-color: #FF9D90;
    border-left: 12px dotted #fff;
    box-shadow: -7px 1px 1px -1px #FF9D90;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
    padding: 1em;
    text-shadow: 1px 1px 3px #385A64;
    margin-top: -3px;
    overflow: hidden;
}

.add-card-container h3 {
    font-size: 1.8rem;
}


.add-card-container input {
    border: none;
    border-bottom: 3px dashed #385A64;
    background-color: rgb(255, 255, 255, 0.2);
    margin-bottom: .7em;
    width: 70%;
    padding: .2em;
}

/* .add-card-container input[type=radio] {
    width: 20%;
    visibility: hidden;
}

.add-card-container input[type=radio]:checked {
    border: 2px solid black;
} */
/* input[type="radio"] {
    display: none;
  }
  
  .radio-label {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: green;
  }
  


  input[type="radio"]:checked + .radio-label {
    border: #385A64 2px solid;
  }

.add-card-container i {
    margin-left: .3em;
    font-size: 1.5rem;
}

.add-card-btn {
    width: calc(100% - 4em);
    padding: .5em 0;
    margin: 1.5em 2em 1em;

}  */
/* https://codepen.io/DanWebb/pen/zxxQwJ */

/* .bold {
    font-weight: bold;
} */

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10vh 1em;
    }
    
    .gift-ideas { grid-area: 1 / 1 / 4 / 3; }
    .gift-inspiration { grid-area: 4 / 1 / 6 / 3; }
    .change-pin { grid-area: 1 / 3 / 3 / 5; }
    .occasions { grid-area: 3 / 3 / 6 / 5; } 


    
.main-btn {
    text-align: center;
    min-height: 200px;
    margin: .5em;
    border-radius: 15% 5%;
}

.gift-ideas {
    background-color: palegoldenrod;
}
.gift-inspiration {
    background-color: palevioletred;
    border-radius: 5% 15%;
}
.change-pin {
    background-color: paleturquoise;
    border-radius: 5% 15%;
}
.occasions {
    background-color: palegreen;
}