:root {
    --orange: #FF735C;
}

footer {
    background-color: #192D33;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 1em 5vw;
}
  
footer strong {
    color: var(--orange);
}
  
.socials-container {
    width: fit-content;
}

.social-icon:hover {
    color: var(--orange);
}
  
.social-icon {
    color: #fff;
    font-size: 2em;
    margin: 0.5em 0.3em;
}

.credits {
    text-align: center;
}

.credits a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.7rem;
    text-decoration: none;
}

@media (min-width: 750px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
}
  