.card-mini {
    color: #479696;
    min-width: 150px;
    width: 21%;
    position: relative;
    box-shadow: 5px 5px 7px rgba(205, 228, 228,.7);
    background-image: url(../images/logo-green.svg);
    background-position: 5px 5px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: rgb(205, 228, 228);
    border-radius: 2px 2px  45px 2px ;
    text-align: center;
    transition: all .2s ease-in-out
}
/*#b1d199, #AA9AFF #F5F9F*/

.card-mini:hover,
.card-mini:focus {
    transform: scale(1.1)
}

.card-mini::before {
    content: "";
    display: block;
    padding-top: 90%; 
}

.card-mini-contents {
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
}

.card-mini h3 {
    text-align: center;
}

.card-mini-hobbies {
    display: none;
}








@media (min-width: 465px) {


.card-mini::before {
    content: "";
    display: block;
    padding-top: 90%; 
}

.card-mini-contents {
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
}

.card-mini-title {
    display: flex;
}

.card-mini h3 {
    text-align: center;
}
}