header {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    background-color: #fff;
    padding: 1.5em 5vw;
    -webkit-box-shadow: 0px 10px 96px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 96px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 96px 0px rgba(0,0,0,0.1);
    z-index: 2;
    position: relative;
}

.logo {
    width: 40px;
    margin-right: .2em;
}