
.note-container {
    background-color: #f1604a;
    color: #f5f5f5;
    text-align: center;
    border-radius: 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 1em;
    width: 100%;
}

.note-container h3 {
    font-size: 2rem;
}

.hobbies, .gifts-container {
    background-color: #f5f5f5;
    color: #000;
    padding: .1em .8em;
    border-radius: 1em;
    margin-bottom: 1em;
    display: none;
}