
.note-container {
     background: #3E7080; 
    color: #192D33;
    text-align: center;
    border-radius: .5em;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 10px #797979;
    position: relative;
}


.info {
    color: #f5f5f5;
    /* cursor: pointer; */
    
}

.header-el {
    cursor: pointer;
    width: 60%;
    margin: auto;
}

.fa-trash {
    position: absolute;
    right: .5em;
    top: .5em;
    color: #f5f5f5;
    /* display: none; */
    cursor: pointer;
    transition: all 300ms ease;
    padding: .5em 1em;
    z-index: 2;
}

.fa-trash:hover {
    transform: scale(1.2);
    color: #ff735c;
}

.fa-cake-candles {
    margin-right: .2em;
}



.note-container h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: .5em;
    /* text-shadow: 2px 1px 2px rgba(39, 39, 39, 0.822); */
    transition: all 300ms ease;
    pointer-events: none
}

.info:hover h3 {
    transform: scale(1.2);
}

.note-container p {
    font-weight: 500;
    font-size: 1.5rem;
    pointer-events: none
}

.hobbies, .gifts-container {
    background-color: #f5f5f5;
    color: #000;
    padding: .8em 0;
    border-radius: .3em;
    margin: 1em;
    text-align: left;
}

.hidden {
    display: none;
}

.hobbies h4, .gifts-container h4 {
    font-size: 1.5rem;
    margin: .3em .5em;
}

.gifts {
    margin: 1em 0;
}

.gift {
    box-shadow: 0px 2px 3px 0px #192d3350;
    padding-bottom: 1em;
    background-color: rgb(240, 240, 240);
    padding: .8em .8em;
    margin: .5em;
    
    /* font-size: .7rem; */
}
.gift h5 {
    font-size: 1.2rem;
    width: fit-content;
    margin: 0;
    padding: .1em .2em;
    color: #3E7080;
    text-transform: capitalize;
    border-bottom: 3px solid #3E7080;

}

.gift p {
    font-size: 1rem;
    color: #2b3d42;
}

.gift a{
    font-size: 1rem;
    text-decoration: none;
}

.gift a:visited {
    color: #f7624c;
}

 
.gifts form,
.gifts fieldset {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}



.fa-circle-plus,
.fa-circle-minus {
    font-size: 2.2rem;
    color: #ff735c;
    display: block;
    width: fit-content;
    padding: .2em 1em;
    margin-left: auto;
}

.fa-circle-plus:hover,
.fa-circle-minus:hover {
    color: #f7624c;
    cursor: pointer;
}

.gifts form {
    margin-top: 2em;
    height: 0;
    overflow: hidden;
    /* transform-origin: top; */
    transition: opacity 1s;
    opacity: 0; /* make the element invisible */
}

.gifts form.extended {
    opacity: 1;
    height: auto;
    transition: opacity 1s;
}

.gifts fieldset {
    /* border: 5px solid #3E7080; */
    background-color: #e8f1f5;
}
.gifts fieldset legend {
    color: #192D33;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: .7em;
}

.gifts form input,
.gifts form textarea {
    color: #192D33;
    border: none;
    border-radius: 20px;
    padding: .5em;
    margin: .3em 0 .6em 0;
}

.gifts form input:focus,
.gifts form textarea:focus {
    outline: #192D33 4px solid;
}

#image-input {
    display: none;
}

.customUploadBtn i {
    font-size: 1.5rem;
    padding: .5em;
    margin: .2em;
    background-color: #3E7080;
    color: #e8f1f5;
    cursor: pointer;
    border-radius: 50%;
}

.customUploadBtn i:hover,
.customUploadBtn i:focus {
    background-color: #192D33;
}


.gifts button {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ff8979;
    color: #f5f5f5;
    width: calc(100% - 4em);
    margin: 1em 2em;
    padding: 1em;
    border: none;
    border-radius: 2em;
    transition: all 300ms ease;
}

.gifts button:hover {
    cursor: pointer;
    background-color: #f7624c;
    transform: scale(1.02);
}


@media (min-width: 1100px) {
    .note-container {
        /* width: calc(50% - 1em); */
        margin-right: auto;
    }
    .note-container.expanded {
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
    }

    /* .note-container.expanded .info {
        width: 40%;
    }
    .note-container.expanded .gifts-container {
        width: 60%;
    } */


    /* .note {
        width: 100%;
    } */
}