*{
    box-sizing: border-box;
}

.date-container {
    background-color: #3e6f8010;
    position: relative;
    width: 100%;
    min-width: 320px;
    border: 4px #3E7080 solid;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: .3em .65em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}

.date-container h4 {
    font-size: 1.3rem;
    margin: .4em auto;
    max-width: 60%;

}

.date-container p {
    line-height: 1.2rem;
}

.date-container .day {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    position: absolute;
    background-color: #3E7080;
    padding: .8em .5em .5em .8em;
    margin: -.8em;
    border-radius: .3em;
}

.date-container.grey {
    border-color: #505050;
    background-color: #50505010;
}

.date-container .day.grey {
    background-color: #505050;
}