body {
  /* background-color: #D0D5DB; */
  background-color: #ebebeb;
  font-family: 'Mulish', sans-serif;
}

.container {
  background-color: #FFF;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

