body {
    /* background-color: #ebebeb;
    background: url(./images/88280.jpg);
    background-size: 800px; */
    font-family: 'Mulish', sans-serif;
}

.App {
    position: relative;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    margin: 0 auto;
    padding: 2em 0;
    padding-bottom: 150px;
}

h2 {
    margin: 0;
    margin-bottom: 0.5em;
}

@media (min-width: 700px) {
    .container {
        padding-bottom: 90px;
    }
    
}

@media (min-width: 1100px) {
    .container {
        width: 100vw;
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 85vw;
    }
}